.vscode/**
.vscode-test/**
.github/**
.venv/**
src/**
scripts/**
images/icon.svg
.gitignore
esbuild.js
eslint.config.mjs
tsconfig.json
.vscode-test.mjs
prototype/README.html
prototype/vi/**
**/__pycache__/**
**/*.pyc
out/**
node_modules/**
**/*.map
**/*.ts
